<!DOCTYPE html>
<html>
<head>
	<title></title>
<title> OceanGate</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- add link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="../../css aM/style.css">



<script src="js/jquery-1.11.1.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>




</head>
<body>
	
	<thead>
		<div class="container-fluid" id="thead_mid_nav" >
			<div class="row" id="thead_mid_nav_option" >
				<div class="col-sm-offset-1 col-sm-3">
					<img src="../img anh MInh/logo/logo aptech.png" width=200 height="80">
				</div>
				<div class="col-sm-5" style="margin-top: 20px;">
				    <form method="post">
					    	<div class="row">
						    	<div class="input-group col-sm-10" >
						    		<input type="text" class="form-control" id="search" placeholder="Bạn cần gì hôm  nay?" name="txtSearch">
							      	<span class="input-group-btn" >
							      		<button type="submit" class="btn btn-default ">
							      			<i class="fa fa-search"></i> Tìm Kiếm
							      		</button>
							      	</span>							      		
					    		</div>
					    	</div>
				    </form>     
				</div>
				<div class="col-sm-3" style="margin-top: 20px;">
					<a  id="login-window"  href="#login-box"> <span class="glyphicon glyphicon-share" style="font-size: 25px">Login</span></a>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="thead_bot_nav">
			<div class="container" id="thead_bot_nav_option">
				<div class="col-sm-10">
					<div class="w3-bar "> 
						
						    <a href="#" class="w3-bar-item w3-button">
						    	<i class='fas fa-home' style='font-size:15px;color:white'></i>Home
								
						    </a>
						    <a href="#" class="w3-bar-item w3-button">Category</a>
						    <div class="w3-dropdown-hover">
						      <a href="#" class="w3-button">Products <i class="fa fa-angle-down"></i></a>
						      <div class="w3-dropdown-content w3-bar-block w3-card-4" id="thead_bot_nav_option_pro">
						      	<div class="col-sm-6" style="width: 200px">
						      		<a href="#" class="w3-bar-item w3-button"> Chất Liệu Đồng </a>
							        <a href="#" class="w3-bar-item w3-button">Chất Liệu Chì</a>
							        <a href="#" class="w3-bar-item w3-button">NHôm</a>
							        <a href="#" class="w3-bar-item w3-button">gang</a>
						      	</div>
						        
						      	<div class="col-sm-6" style="width: 200px">
						      		<a href="#" class="w3-bar-item w3-button">sắt</a>
							        <a href="#" class="w3-bar-item w3-button">nhựa</a>
							        <a href="#" class="w3-bar-item w3-button">chai </a>
							        <a href="#" class="w3-bar-item w3-button">lọ</a>
						      	</div>

						      </div>
						    </div>

							<a href="#" class="w3-bar-item w3-button">About Us</a>
						</div>
						
					</div>
					<div class="col-sm-2" id="buy">
							<a class="" href="Giỏ Hàng/gioHang.html"><i class='fas fa-cart-plus' style="font-size: 18px; margin-top: 5px "></i> Giỏ Hàng</a>
					</div>

				
			</div>	  
		</div>		<br>	
	</thead>
<br>















<br>
	<tfoot>
		<div class="container-fluid" id="tfoot" style="background-color: #4F4F4F; color: white; height: 250px;">
			<div class="container" id="tfoot_contain">
				<div class="col-sm-3">
					<p><h4>LIÊN HỆ VỚI OceanGate</h4></a></p>
					<p><a href="#">Thứ 2 đến CN: 9h - 18h (Hotline), 7h - 22h (chat trực tuyến)</a></p>
					<p><a href="#">Trung tâm hỗ trợ</a></p>
					<p><a href="#">Hướng dẫn đặt hàng</a></p>
					<p><a href="#">Chính sách hàng nhập khẩu</a></p>
					<p><a href="#">Hướng dẫn đổi trả hàng</a></p>

				</div>
				<div class="col-sm-3">
					<p><h4>OceanGate VIỆT NAM</h4></a></p>
					<p><a href="#">Về OceanGate Việt Nam</a></p>
					<p><a href="#">Tuyển dụng</a></p>
					<p><a href="#">Chính sách bảo mật</a></p>
					<p><a href="#">Điều khoản mua bán hàng hóa</a></p>
					
				</div>

				<div class="col-sm-3" id="tfoot_column_3rd">
					<p><h4>KẾT NỐI VỚI CHÚNG TÔI</h4></a></p>
						<a href="#"><img src="../../img/slide header/Facebook-logo200.png" width="30" height="30"></a>
						<a href="#"><img src="../../img/slide header/zalo.jpg" width="30" height="30"></a>	
						<a href="#"><img src="../../img/slide header/youtube.jpg" width="30" height="30"></a>		
						<a href="#"><img src="../../img/slide header/instagram.jpg" width="30" height="30"></a>
						<a href="#"><img src="../../img/slide header/twitter.png" width="30" height="30"></a>					
					
				</div>
				<div class="col-sm-3">
					<p><h4 style="text-align: center;">CHỨNG NHẬN</h4></a></p>
					<div class="col-sm-5">						
						<p><a href="#"><img src="../../img/slide header/chứng nhận 1.png" width="70" height="70"></a></p>
						
					</div>
					<div class="col-sm-7">
						<p><a href="#"><img src="../../img/slide header/dathongbao.png" width="120" height="40"></a></p>
						<p><a href="#"><img src="../../img/slide header/dadangky.png" width="120" height="40"></a></p>
						<p><a href="#"><img src="../../img/slide header/camket.png" width="120" height="40"></a></p>
					</div>
				
				</div>
			</div>
			<div class="container">
				<div class="col-sm-3">
					<h4>CÁCH THỨC THANH TOÁN: </h4>
				</div>
				<div class="col-sm-8" id="tfoot_column_3rd">
					<a href="#"><img src="../../img/slide header/visa1.png" width="70" height="40"></a>
					<a href="#"><img src="../../img/slide header/mastercard.png" width="70" height="40"></a>
					<a href="#"><img src="../../img/slide header/jcb.png" width="80" height="40"></a>
					<a href="#"><img src="../../img/slide header/PayPal.png" width="80" height="40"></a>
					
				</div>
				
				

			</div>

		
	</div>
	</tfoot>
</body>
</html>