<!-- BEGIN: FORGOT_PASSWORD-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{baseUrl}css/all.css">
    <link href="{baseUrl}css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{baseUrl}css/main.css">
    <script src="{baseUrl}js/bootstrap.min.js"></script>
    <script src="{baseUrl}js/main.js"></script>
    <title>Forgot Password</title>
</head>

<body>
    <div id="logreg-forms">
        <form name="frmReset" class="form-signin" method="POST" action="?a=forgot_password">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Password Reset</h1>
            <input type="text" name="txtID" class="form-control" placeholder="Email address or Username" required
                autofocus="" value="{id}">
            <span class="errorMess">{erID}</span>
            <input type="text" name="txtFirstName" class="form-control" placeholder="First Name" required
                value="{fName}">
            <input type="text" name="txtLastName" class="form-control" placeholder="Last Name" required value="{lName}">
            <span class="errorMess">{erName}</span>
            <input type="password" name="txtPass" id="pass" class="form-control" placeholder="New Password" required>
            <span class="errorMess">{erPass}</span>
            <input type="password" name="txtPassConf" id="passConf" class="form-control" placeholder="Retype Password"
                required>
            <span class="errorMess">{erPassConf}</span>
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Reset
                Password</button>
            <a class="btn btn-primary btn-block" href="?a=login">Back</a>
        </form>
    </div>
</body>

</html>
<!-- END: FORGOT_PASSWORD-->