<!-- BEGIN: NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div style="width: 50px"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {home}" href="?a=home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link {profile}" href="?a=profile">Profile</a>
                <a class="nav-item nav-link {admin}" href="?a=users">Users</a>
                <a class="nav-item nav-link {categories}" href="?a=categories">Categories</a>
                <a class="nav-item nav-link {products}" href="?a=products">Products</a>
                <a class="nav-item nav-link {new_product}" href="?a=new_product">Add new products</a>
                <a class="nav-item nav-link {customers}" href="?a=customers">Customers</a>
                <a class="nav-item nav-link {orders}" href="?a=orders">Orders</a>
            </div>
        </div>
        <div class="user">Welcome, {user}</div>
    </nav>
    <!-- END: NAVBAR -->