<!-- BEGIN: NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand h1" href="#">PETBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".myNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 myNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {home}">
                <a class="nav-link" href="?a=home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {profile}">
                <a class="nav-link" href="?a=profile">Profile</a>
            </li>
            <li class="nav-item {admin}">
                <a class="nav-link" href="?a=users">Users</a>
            </li>
            <li class="nav-item {categories}">
                <a class="nav-link" href="?a=categories">Categories</a>
            </li>
            <li class="nav-item {products}">
                <a class="nav-link" href="?a=products">Products</a>
            </li>
            <li class="nav-item {new_product}">
                <a class="nav-link" href="?a=new_product">Add new products</a>
            </li>
            <li class="nav-item {customers}">
                <a class="nav-link" href="?a=customers">Customers</a>
            </li>
            <li class="nav-item {orders}">
                <a class="nav-link" href="?a=orders">Orders</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 myNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="navbar-brand">Welcome, {user}</span>
            </li>
            <li class="nav-item">
                <a class="nav-item btn btn-danger" href="?a=logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<!-- END: NAVBAR -->