<!-- BEGIN: PRODUCTS -->
<form name="frmListing" method="POST">
    <div class="form-group input-group">
        <a class="btn btn-success" href="?a=new_product&cat=none" style="margin-right: 20px">Add new product</a>
        <input id="txtSearch" name="search" class="col-7" type="text"
            placeholder="Search: product name, price, quantity" value="{search}">
        <div class="input-group-prepend">
            <button id="btnSearch" type="submit" name="btnSearch" class="btn btn-primary"> <i
                    class="fas fa-search"></i></button>
        </div>
        <div class="delAll">
            <input id="btnDelAll" type="submit" name="btnDel" class="btn btn-danger delAll" value="Delete">
        </div>
    </div> <!-- form-group// -->
    <table name="tblListing" class="table table-bordered table-dark table-hover tblListing" border="1" cellpadding="10"
        cellspacing="10">
        <tr>
            <th>No.</th>
            <th>ID</th>
            <th>Image</th>
            <th>Category</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th colspan="2">Action</th>
            <th><input type="checkbox" name="ckAll" id="ckAll" value="" onclick="checkAll()"></th>
        </tr>
        <!-- BEGIN: LS -->
        <tr>
            <td>{LS.no}</td>
            <td>{LS.id}</td>
            <td><img src="{LS.pro_img}" width="100px" </td> <td>{LS.cat_name}</td>
            <td>{LS.pro_name}</td>
            <td>{LS.pro_price}</td>
            <td>{LS.pro_quantity}</td>
            <td><a href="?a=product_edit&id={LS.id}">Edit</a></td>
            <td><a href="javascript:void(0)" onclick="del({LS.id})">Delete</a></td>
            <td><input type="checkbox" name="ck[]" value="{LS.id}"></td>
        </tr>
        <!-- END: LS -->
        <tfoot>
            <tr>
                <td colspan="10">{page}</td>
            </tr>
        </tfoot>
    </table>
</form>
<!-- END: PRODUCTS -->