<!-- BEGIN: ADMIN -->
<script>
    $(document).ready(function () {
        test(0);
        $('#search, #delAll').click(function () {
            if (this.id == 'search') {
                console.log('aloha');
                return false;
            } else {
                if (confirm('Are you sure to delete these records?')) {
                    return true;
                } else return false;
            }
        })
        $(window).scroll(function () {
            var position = $(window).scrollTop();
            var bottom = $(document).height() - $(window).height();
            if (position == bottom) {
                var row = $('#tblAdmin td').closest('tr').length;
                test(row);
            }
        })
    })

    function test(row) {
        var str = $('#txtSearch').val();
        var tbl_inner = new Array();
        $.ajax({
            type: "POST",
            url: 'controllers/fetch.php',
            data: {
                s: str,
                row: row
            },
            success: function (response) {
                var user_JSON = JSON.parse(response);
                var len = user_JSON.length;
                for (var i = 0; i < len; i++) {
                    var nbr = '<td>' + (row + i + 1) + '</td>';
                    var id = '<td>' + user_JSON[i]['id'] + '</td>';
                    var username = '<td>' + user_JSON[i]['username'] + '</td>';
                    var email = '<td>' + user_JSON[i]['email'] + '</td>';
                    var firstName = '<td>' + user_JSON[i]['firstName'] + '</td>';
                    var lastName = '<td>' + user_JSON[i]['lastName'] + '</td>';
                    var gender = '<td>' + user_JSON[i]['gender'] + '</td>';
                    var position = '<td>' + user_JSON[i]['position'] + '</td>';
                    var dob = '<td>' + user_JSON[i]['dob'] + '</td>';
                    var admin_level = '<td>' + user_JSON[i]['admin_level'] + '</td>';
                    var update = '<td>' + "<a href='javascript:void()' onclick='setLevel(" + user_JSON[i][
                        'id'
                    ] + i + ")'>Update</a>" + '</td>';
                    var del = "<td style='width: 5%''><a href='javascript:void(0)'' onclick='del(" +
                        user_JSON[i]['id'] + ")'>Delete</a></td>";
                    var check = '<td>' +
                        "<input type='checkbox' onclick='check(this.checked)' name='ck[]' value=" +
                        user_JSON[i]['id'] + ">" + '</td>';
                    var text = '<tr>' + nbr + id + username + email + firstName + lastName + gender +
                        position + dob + admin_level + update + del + check + '</tr>';
                    tbl_inner.push(text);
                }
                var a = tbl_inner.join();
                $("#tblAdmin").append(a);
            }
        });
        return false;
    }

    function cleanup() {
        var text =
            '<caption>List of users</caption><thead><tr><th style="width: 3.5%">No.</th><th style="width: 3.5%">ID</th><th style="width: 11%">Username</th><th style="width: 17.5%">Email</th><th style="width: 10%">First Name</th><th style="width: 10%">Last Name</th><th style="width: 6%">Gender</th><th style="width: 7.5%">Position</th><th style="width: 8%">Date of Birth</th><th style="width: 10%">User Level</th><th colspan="2">Action</th><th><input type="checkbox" name="ckAll" id="ckAll" value="" onclick="checkAll()"></th></tr></thead>';
        $("#tblAdmin").html(text);
    }
</script>
<form name="frmListing" method="POST" id='frmTest'>
    <div class="form-group input-group">
        <a class="btn btn-success" href="?a=new_user" style="margin-right: 20px">Create new user</a>
        <input id="txtSearch" name="search" class="col-7" type="text"
            placeholder="Search: username, name, email, gender" value="{search}" onkeyup="cleanup(), test(0)">
        <div class="input-group-prepend">
            <button id="search" type="submit" name="btnSearch" class="btn btn-primary"> <i
                    class="fas fa-search"></i></button>
        </div>
        <div class="delAll">
            <input id="delAll" type="submit" name="btnDel" class="btn btn-danger delAll" value="Delete">
        </div>
    </div> <!-- form-group// -->
    <input type="button" value="ajax search" onclick="test()">
    <table name="tblAdmin" id="tblAdmin" class="table table-bordered table-dark table-hover tblListing" border="1"
        cellpadding="10" cellspacing="10">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th style="width: 3.5%">No.</th>
                <th style="width: 3.5%">ID</th>
                <th style="width: 11%">Username</th>
                <th style="width: 17.5%">Email</th>
                <th style="width: 10%">First Name</th>
                <th style="width: 10%">Last Name</th>
                <th style="width: 6%">Gender</th>
                <th style="width: 7.5%">Position</th>
                <th style="width: 8%">Date of Birth</th>
                <th style="width: 10%">User Level</th>
                <th colspan="2">Action</th>
                <th><input type="checkbox" name="ckAll" id="ckAll" value="" onclick="checkAll()"></th>
            </tr>
        </thead>
    </table>
</form>
<!-- END: ADMIN -->