<!-- BEGIN: ADMIN -->
<form name="frmListing" method="POST">
    <div class="form-group input-group">
        <a class="btn btn-success" href="?a=new_user" style="margin-right: 20px">Create new user</a>
        <input id="txtSearch" name="search" class="col-7" type="text"
            placeholder="Search: username, name, email, gender" value="{search}">
        <div class="input-group-prepend">
            <button id="btnSearch" type="submit" name="btnSearch" class="btn btn-primary"> <i
                    class="fas fa-search"></i></button>
        </div>
        <div class="delAll">
            <input id="btnDelAll" type="submit" name="btnDel" class="btn btn-danger delAll" value="Delete">
        </div>
    </div> <!-- form-group// -->
    <table name="tblAdmin" id="tblAdmin" class="table table-bordered table-dark table-hover tblListing" border="1"
        cellpadding="10" cellspacing="10">
        <caption>
            <!-- <div class="float-right">
                <nav aria-label="Page navigation example" pull-right>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li> -->
                        {page}
                        <!-- <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> -->
            List of users
        </caption>
        <thead>
            <tr>
                <th style="width: 3.5%">No.</th>
                <th style="width: 3.5%">ID</th>
                <th style="width: 11%">Username</th>
                <th style="width: 17.5%">Email</th>
                <th style="width: 10%">First Name</th>
                <th style="width: 10%">Last Name</th>
                <th style="width: 6%">Gender</th>
                <th style="width: 7.5%">Position</th>
                <th style="width: 8%">Date of Birth</th>
                <th style="width: 10%">User Level</th>
                <th colspan="2">Action</th>
                <th><input type="checkbox" name="ckAll" id="ckAll" value="" onclick="checkAll()"></th>
            </tr>
        </thead>
        <!-- BEGIN: LS -->
        <tr>
            <td>{LS.no}</td>
            <td>{LS.id}</td>
            <td>{LS.username}</td>
            <td>{LS.email}</td>
            <td>{LS.firstName}</td>
            <td>{LS.lastName}</td>
            <td>{LS.gender}</td>
            <td>{LS.position}</td>
            <td>{LS.dob}</td>
            <td>{LS.select}</td>
            <td style="width: 5%">{LS.update}</td>
            <td style="width: 5%"><a href="javascript:void(0)" onclick="del({LS.id})">Delete</a></td>
            <td><input type="checkbox" onclick="check(this.checked)" name="ck[]" value="{LS.id}"></td>
        </tr>
        <!-- END: LS -->
    </table>

</form>
<!-- END: ADMIN -->